{% extends "registration/index.html" %}
{% block content %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
{% if next %}
{% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
{% else %}
<p>Please login to see this page.</p>
{% endif %}
{% endif %}
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="form-group">
        <label>{{ form.username.label_tag }}</label>
        <input maxlength="254" name="username" type="text" type="email" class="form-control" placeholder="Enter username">
    </div>
    <div class="form-group">
        <label>{{ form.password.label_tag }}</label>
        <input name="password" type="password" type="password" class="form-control" placeholder="Password">
    </div>
    <div>
        <button type="submit" class="btn btn-primary" >Login</button>
        <input type="hidden" name="next" value="{{ next }}" />
    </div>
</form>
{# Assumes you setup the password_reset view in your URLconf #}
<br>
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>
{% endblock %}