{% extends "registration/index.html" %}
{% block content %}
<form action="" method="post">
    <div class="form-group">{% csrf_token %}
        {% if form.email.errors %} {{ form.email.errors }} {% endif %}
        <label>Enter email.</label>
        <input id="id_email" maxlength="254" name="email" type="email" placeholder="Email" class="form-control">
        <br>
        <div>
            <button type="submit" class="btn btn-primary" >Reset password</button>
        </div>
    </div>
</form>
{% endblock %}